.page {
  background-color: ivory;
  border-radius: 25px;
}

.header {
  background-color: ivory;
  margin: auto;
  border-radius: 25px;
  text-align: center;
  padding-bottom: 25px;
}
#head {
  font-size: 40px;
  color: rgb(27, 9, 60);

  padding-top: 25px;
}
.text2 {
  font-size: larger;
  color: rgb(44, 71, 75);
}
.nav {
  color: rgb(57, 90, 125);
}
.span {
  color: rgb(3, 25, 38);
}
.section {
  background-color: rgb(153, 225, 217);
  margin:5%;
  border-radius: 20px;
  text-align: center;
  align-content: center;
}

.title {
  color: rgb(27, 9, 60);
  font-size: 60px;
  padding-top: 20px;
}
.country {
  color: rgb(7, 30, 65);
  font-size: 30px;
}
.image {
  width: 450px;
  height: 350px;
  border-radius: 25px;
  display: inline-block;

  align-items: center;
  padding-bottom: 15px;
}

.text {
  font-size: 20px;
  color: rgb(3, 25, 38);
  padding-bottom: 25px;
}

.footer {
  background-color: rgb(3, 25, 38);
  text-align: center;
  border-radius: 25px;
}
#foot {
  color: ivory;
  text-transform: uppercase;
  font-size: small;
}
